* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Combind Styles*/
main {
  margin: 50px 140px;
}

/* Header Section */
header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 140px;
  border-radius: 16px;
  min-height: 600px;
}

.header-sub-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}

.header-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding-top: 16px;
}

/*65% offer section styles*/
.offer-title {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-top: 20px;
}

.offer-details {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}

.offer-sub-heading {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}

.offer-image {
  height: 500px;
  width: 800px;
  margin-left: 260px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

/*Welcome Section Style */
.welcome {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/images/2024-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  min-height: 600px;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.wellcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding-top: 126px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
}

.join-btn {
  background-color: #f00;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 5px;
  margin-top: 48px;
  margin-left: 32px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
}

.right-side img {
  padding-top: 68px;
  padding-right: 38px;
}

/*Place Section styles*/
.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 120px;
}

.place-description {
  margin-top: 100px 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.place-time {
  text-align: center;
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  margin: 0;
  padding: 0;
  line-height: 56px;
}

.place-time span {
  text-align: center;
  font-size: 32px;
  color: #f00;
  font-weight: 600;
  line-height: 56px;
}

.join-btn-place {
  background-color: #f00;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 110px;
  margin-top: 48px;
}

/*best-offer section styles*/
.best-offer {
  margin-top: 120px;
}

.best-offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item-left {
  width: 33%;
  height: auto;
}

.item-middle {
  width: 40%;
  height: auto;
}

.image-border {
  border: 15px solid #f00;
  padding: 40px;
  display: inline-block;
  border-radius: 50%;
}

.item-middle img {
  height: 364px;
  width: 364px;
}

.item-right {
  width: 25%;
  height: auto;
}

.best-offer-sub-title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.best-offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-top: 16px;
}

.best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  padding-top: 22px;
}

.best-offer-right-title {
  padding-top: 100px;
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}

.best-offer-right-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
}

.item-right img {
  height: 140px;
  width: 140px;
  padding-top: 43px;
}
